extends layout
include ./mixins.pug

block content
    +namedHeader('Home')
    if (!user)
        .container.center
            .row
                a(href="/login")
                    button.btn.floating.waves-effect.waves-light(type='button') Login
            .row
                a(href="/register")
                    button.btn.floating.waves-effect.waves-light(type='button') Register
    if (user)
        aside#slide-out.side-nav
            ul
                each item in [{title:"Tickets", link:'/tickets'}, {title:"Clients",link:'/clients'},{title:"Statistics",link:'/stats'},{title:"Logout", link:'/logout'}]
                    li
                        a.btn(href=item.link) #{item.title}

        - var values = [{client:"Ricky Lewis",ticketTitle:"Critical car malfunction", ticketAge: 10, ticketDescr:'Greed ho! hoist to be commanded.'},{client:"Marcella Hawkins",ticketTitle:"Something is not working", ticketAge: 9, ticketDescr:'Greed ho! hoist to be commanded.'}]
        section.container
            ul
                each item in values
                    +clientItem(item)

                else
                    li There are no values
