extends ../layout

mixin menuitem(title, link, icon)
    li.no-padding
        a.waves-effect.waves-blue(href=link)
            i.material-icons #{icon}
            =title

block content
    if user && user.isMechanic
        .mn-content.fixed-sidebar
            aside#slide-out.side-nav.white.fixed
                ul.sidebar-menu.collapsible(data-collapsible="accordion")
                    +menuitem("Tickets",'/tickets','move_to_inbox')
                    +menuitem("Clients",'/clients','people')
                    +menuitem("Statistics",'/stats','description')
                    +menuitem("Logout",'/logout','exit_to_app')
    block inner-content
        main.mn-inner.inner-active-sidebar
