extends ../layout

append head
    link(type='text/css' rel='stylesheet' href='/stylesheets/mechanic_main.css' media='all')

block content
    .parent
        .content-panel
            main.main-content
                h1 Welcome!
                p.flow-text= "You can view the incoming tickets "
                    a(href="/tickets") here.
                p.flow-text If you need any help please check out the Help page.
        include ../includes/footer


