extends ../layout

block body-inner
    include ../includes/sidebar
    .parent
        .content-panel
            .main-content
                block content
                    block content-header
        include ../includes/footer






