extends ../layout

block content
    main
        .container.row
            ul.collapsible.show-first.popout(data-collapsible='accordion')
                each item in [{title:'Last message'},{title:'Message 2',first:0}]
                    li.detail-card
                        .collapsible-header
                            i.material-icons message
                            = item.title
                        .collapsible-body
                            .card-content
                                .container2
                                    .row
                                        .col.l1
                                            img.circle(src="media/temp_img.jpg" alt)
                                        .col.l7
                                            .row.ticket-author
                                                = "Author"
                                            .row.ticket-date
                                                = "01.01.2016"
                                            .row
                                                | asdasdasdasdqegfvvnjkjhasdqwvklsidfqerlksdfpovererw
                                            .row
                                                .row
                                                    .a.btn.show-reply-form.light-blue(href="#") Reply
                                                    | &nbsp;
                                                    .a.offset-3.btn.light-blue(href="#") Reply
                                        .col.l4
                                            .image-grid
                                                each x in [1,2,3,4,5,6,1,2,3,4,5,6,1,2,3,4,5,6,1,2,3,4,5,6,1,2,3,4,5,6,1,2,3,4,5,6,1,2,3,4,5,6]
                                                    .grid-float
                                                        img(src="media/temp_img.jpg" alt)
                                    .row.reply-message.hidden-el
                                        .input-field.col.s12.l12
                                            textarea.materialize-textarea(id="reply-textarea")
                                            label(for="reply-textarea") Write message...
                                        input.btn.light-blue(value="Send message")










