extends ../layout

append head
    link(type='text/css' rel='stylesheet' href='/stylesheets/main.css' media='all')

block content
    h4 Tickets
    ul.collection
        each item in [{name:'Jozo',title:'Critical car malfunction',id:1},{name:'Jano',title:'Minor car malfunction',id:2}]
            li.collection-item.avatar
                i.material-icons.circle folder
                span.title
                = item.title
                p
                    b
                    = item.name
                    br
                    | Test test
                a.secondary-content(href='/ticket-detail?id='+item.id)
                    i.material-icons send




