extends ../layout

block content
    block inner-content
        main
            .container.row
                .card
                    .card-content
                        .card-options
                            i.material-icons.right more_vert
                        .card-title
                            span Ticket
                            span.card-subtitle subtitle
                        .card-image
                            .ticket-images.container.col.m5.l5
                                .grid
                                    each x in [1,2,3,4,5]
                                        .grid-item
                                            img(src="media/temp_img.jpg" alt)
                        .card-stacked
                        .container
                            .row
                                .col.l2 img
                                .col.l10
                                    .row.ticket-author
                                        = "Author"
                                    .row.ticket-date
                                        = "01.01.2016"
                            .ticket-text.col.l8
                                asdasdasdasdqegfvvnjkjhasdqwvklsidfqerlksdfpovererw

                    .card-action.row
                        .a.col.m2.l2.btn.btn-block(href="#") Reply
                        .a.col.m2.l2.offset-3.btn.btn-block(href="#") Reply






