extends ../layout

append head
    link(type='text/css' rel='stylesheet' href='/stylesheets/mechanic_main.css' media='all')


block content
    .parent
        .content-panel
            .main-content
                .row
                    .col.s12.m6.l6
                        h4 Tickets
                    .col.s12.m6.l6.input-field
                        label(for="tags") Filter
                        input#ticket-filter.typeahead(type="text" name="tags")
                .collection#ticket-list
                    each item in tickets
                        a.collection-item.avatar(href='/ticket-detail?id=' + item.id data-status=item.status.name)
                            .row
                                .col
                                    i.material-icons.circle details
                                    span.title: =item.title
                                    p: =item.name
                                .col
                                    p: =item.messages[0].subject
                                    p: =item.messages[0].creation_date.format('Do MMMM YYYY, h:mm')
                            span.secondary-content.badge.new(data-badge-caption=item.status.name)
        include ../includes/footer

prepend foot
    script(type='text/javascript').
        const states = !{JSON.stringify(states)};




