body
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

.mn-header
  z-index: 999

.material-design-hamburger a
  display: block
  border: none
  background: 0 0
  outline: 0
  padding-top: 30px

.material-design-hamburger__icon
  padding: 3rem 1rem
  cursor: pointer

.material-design-hamburger__layer
  display: block
  width: 13px
  height: 1.5px
  background: rgba(255, 255, 255, .9)
  position: relative
  animation-duration: .2s
  animation-timing-function: ease-in-out
