extends ../index

mixin menuitem_mobile(link,title)
    a.col.s12.space.btn-large.waves-effect.waves-light.orange(href=link) #{title}

block content
    main
    if user && !user.isMechanic
        // Mobile right sidebar
        aside#nav-mobile.side-nav
            ul
                li: a(href="#") Vehicles
                li: a(href="#") History
                li: a(href="/logout") Logout

        .hide-on-large-only
            .row.center
                +menuitem_mobile("#","Your problems")
                +menuitem_mobile("#","History")
                +menuitem_mobile("#","Help")
            .fixed-action-btn
                a.btn-floating.btn-large.waves-effect.waves-light.red.right(href='#!')
                    i.material-icons add
        block inner-content


