extends ../index

mixin menuitem_mobile(link,title)
    a.col.s12.space.btn-large.waves-effect.waves-light.orange(href=link) #{title}

block content
    main
        .hide-on-large-only
            .container
                .row.center-align.section
                    a.col.s12.space.btn-large.waves-effect.waves-light.orange(href="/client/problem/add") Add Problem
                    a.col.s12.space.btn-large.waves-effect.waves-light.orange(href="/client/problems/open/latest") Open Problems
                    a.col.s12.space.btn-large.waves-effect.waves-light.orange(href="/client/help") Help
                    a.col.s12.space.btn-large.waves-effect.waves-light.orange(href="/logout") Logout
            //- .fixed-action-btn
            //-     a.btn-floating.btn-large.waves-effect.waves-light.red.right(href='#!')
            //-         i.material-icons add


