extends ../layout

mixin menuitem_mobile(link,title)
    a.col.s12.space.btn-large.waves-effect.waves-light.orange(href=link) #{title}

block content

    main.hide-on-large-only
        .row
            .col.s12.m6.l6
                h4 Tickets
            .col.s12.m6.l6.input-field
                label(for="tags") Filter
                input#ticket-filter.typeahead(type="text" name="tags")
        .collection#ticket-list
            each item in tickets
                a.collection-item.avatar(href='/ticket-detail?id=' + item.id data-status=item.status.name)
                    .row
                        .col.s12
                            i.material-icons.circle details
                            span.title: =item.title
                            p: =item.name
                        .col.s12
                            p: ="Latest subject: " + item.messages[item.messages.length-1].subject
                            p: ="Updated on: " + item.updated_date.format('Do MMMM YYYY, h:mm')
                    span.secondary-content.badge.new(data-badge-caption=item.status.name)
    main.hide-on-med-and-down.valign-wrapper
        .container
            h4.grey-text.text-lighten-2.center-align
                p Please use #[i.material-icons.large.center-text phone_iphone]
                |This part of application was not implemented, view  the client version on mobile device.

