extends ../index

mixin menuitem_mobile(link,title)
    a.col.s12.space.btn-large.waves-effect.waves-light.orange(href=link) #{title}

block content
    p
        =vehicles.length
    if (vehicles.length == 0)
        main.valign-wrapper.container
            h3.grey-text.text-lighten-1.hide-on-med-and-down.
                It appears you don't have any vehicles yet. Add one #[a(href="/client/vehicle/add") here!]
            h5.grey-text.text-lighten-1.hide-on-large-only.
                It appears you don't have any vehicles yet. Add one by clicking on a #[i.material-icons add] button in right corner!
            .fixed-action-btn.hide-on-large-only
                a.btn-floating.btn-large.waves-effect.waves-light.red.right(href='#!')
                    i.material-icons add




