extends layout

append head
    if user && user.isMechanic
        link(type='text/css' rel='stylesheet' href='/stylesheets/mechanic_main.css' media='all')

append foot
    script(src='/js/contacts.js' type='text/javascript')

mixin userContact(randomUser)
    .card
        p

mixin aboutContent
    main.row.main-content
        article.col.s10
            h3 Our contacts
            .row
                .col.s12.m12.l7
                    p.flow-text If you have any questions/feedback or would like to get in touch with us, here are our contacts
                    #contacts
                .col.s12.m12.l5
                    h4 Our headquarters
                    img#googleMap(src="https://maps.googleapis.com/maps/api/staticmap?center=Bratislava,SK&zoom=14&scale=1&size=300x200&key=AIzaSyCSZzABIzY7QTr-7Fk05fEeg-I5HHZrKr8")
            .row
                h4 Socials
                h4
                    a#facebook(href="#")
                        i.mdi.mdi-facebook.mdi-36px
                        | Facebook
                h4
                    a#google(href="#")
                        i.mdi.mdi-google-plus.mdi-36px
                        | Google +
                h4
                    a#Twitter(href="#")
                        i.mdi.mdi-twitter.mdi-36px
                        | Twitter



block body-inner
    include includes/header
    include includes/sidebar
    block content
    if user && user.isMechanic
        .parent
            .content-panel
                +aboutContent
            include includes/footer
    else
        +aboutContent
        include includes/footer
