block header
    header
        nav(class="light-blue lighten-1" role="navigation")
            <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Logo</a>
              <ul class="right hide-on-med-and-down">
                <li><a href="#">Vehicles</a></li>
                <li><a href="#">History</a></li>
                <li><a href="#">Help</a></li>
                <li><a href="register">Register</a></li>
                if !user
                  <li><a href="/login">Login</a></li>
                else
                  <li><a href="/logout">Logout</a></li>
              </ul>

              <ul id="nav-mobile" class="side-nav">
                <li><a href="#">Vehicles</a></li>
                <li><a href="#">History</a></li>
                <li><a href="#">Help</a></li>
                <li><a href="/login">Login</a></li>
              </ul>
              <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
            </div>