extends layout

append head
    link(type='text/css' rel='stylesheet' href='/stylesheets/help.css' media='all')

append foot
    script(src='/js/help.js', type='text/javascript')


block content
    -
        var headerCount = 0;
        var chapters = {
        "Introduction":["This application is destined to serve as your companion, guide and a way to contact your car service, if you are in the need of " +
        "roadside assistance, or your car just does something, that you don't understand.",
        "The purpose of this page is to be a guide and help you to navigate in our application, and make you understand it's capabilities.",
        "In the event that you can't find an answer to your question here, please write us a mail. Our contacts are on the page below."],
        "FAQ":{"How do I change my password?":[""],"How do I change my email address?":[""],"How do I delete my user account?":[""]},
        "Account settings":[""],
        "User: Client":{"Create a ticket":[""],"Respond to ticket":[""],"Add a vehicle":[""],"Edit vehicle":[""],"Use live chat":[""]},
        "User: Mechanic":{"View clients":[""],"Viewing incoming tickets":[""],"Reply to tickets":[""]}
        }

    main.row
        aside.col.hide-on-small-only.m3.l3
            .toc-wrapper
                h4 Navigation
                ul.table-of-contents
                    each value, index in chapters
                        li
                            if _.isArray(value)
                                span.waves-block.waves-effect.waves-green
                                    a(href="#" + _.kebabCase(index))= index
                            else
                                span.waves-block.waves-effect.waves-green
                                    a(href="#" + _.kebabCase(index))= index
                                ul
                                    each value2, index2 in value
                                        li: span.waves-block.waves-effect.waves-green
                                            a(href="#" + _.kebabCase(index2))= index2
        article.col.s12.m9.l9
            h1 Help
            each value, index in chapters
                section
                    if _.isArray(value)
                        h2.scrollspy(id= _.kebabCase(index))= index
                        each paragraph in value
                            p= paragraph
                    else
                        h2.scrollspy(id=_.kebabCase(index))= index
                        section
                            each value2, index2 in value
                                section
                                    h3.scrollspy(id= _.kebabCase(index2))= index2
                                    each paragraph in value2
                                        p= paragraph