extends layout
include ./mixins.pug

block content
    +namedHeader('Home')
    if (!user)
        .center
            .row
                a(href="/login")
                    button.btn.floating.waves-effect.waves-light(type='button') Login
            .row
                a(href="/register")
                    button.btn.floating.waves-effect.waves-light(type='button') Register
    if (user)
        aside
            ul.side-nav
                each item in [{title:"Tickets", link:'/tickets'}, {title:"Clients",link:'/clients'},{title:"Statistics",link:'/stats'},{title:"Logout", link:'/logout'}]
                    li
                        a.btn(href=item.link) #{item.title}

        //section#index-banner.no-pad-bot
            .container
                h1.header.center.orange-text Starter Template
                .row.center
                    h5.header.col.s12.light A modern responsive front-end framework based on Material Design
                .row.center
                    a.btn-large.waves-effect.waves-light.orange(href="http://materializecss.com/getting-started.html" id="download-button") Get Started


        - var values = [{client:"Ricky Lewis",ticketTitle:"Critical car malfunction", ticketAge: 10, ticketDescr:'Greed ho! hoist to be commanded.'},{client:"Marcella Hawkins",ticketTitle:"Something is not working", ticketAge: 9, ticketDescr:'Greed ho! hoist to be commanded.'}]
        section.container
            ul
                each item in values
                    +clientItem(item)

                else
                    li There are no values


