extends layout

include mixins

block content
    +namedHeader('Home')
    .mn-content.fixed-sidebar
        .section.no-pad-bot.index-banner
            .container
                h1.header.center.orange-text Automobile Service Application
                .row.center
                    h5.header.col.s12.light A modern approach to car troubles!

                if user && user.isMechanic
                    // Desktop left sidebar
                    aside#slide-out.side-nav.white.fixed
                        ul.sidebar-menu.collapsible(data-collapsible="accordion")
                            +menuitem("Tickets",'/tickets','move_to_inbox')
                            +menuitem("Clients",'/clients','people')
                            +menuitem("Statistics",'/stats','description')
                            +menuitem("Logout",'/logout','exit_to_app')

                if user && !user.isMechanic
                    // Mobile right sidebar
                    aside#nav-mobile.side-nav
                        ul
                            li: a(href="#") Vehicles
                            li: a(href="#") History
                            li: a(href="/logout") Logout

                    .hide-on-large-only
                        .row.center
                            +menuitem_mobile("#","Your problems")
                            +menuitem_mobile("#","History")
                            +menuitem_mobile("#","Help")
                        .fixed-action-btn
                            a.btn-floating.btn-large.waves-effect.waves-light.red.right(href='#!')
                                i.material-icons add
                else if !user
                        .row.center
                            +menuitem_mobile("/index", "About")
                            +menuitem_mobile("/login", "Login")
                            +menuitem_mobile("/register", "Register")



