extends layout

mixin menuitem_mobile(link,title)
    a.col.s12.space.btn-large.waves-effect.waves-light.orange(href=link) #{title}

block content
    //.row.center.hide-on-large-only
        +menuitem_mobile("/index", "About")
        +menuitem_mobile("/login", "Login")
        +menuitem_mobile("/register", "Register")

    .parallax-container.valign-wrapper.make-flex-center
        .center.main-readable
            .section.no-pad-bot.index-banner
                h1.header.center.white-text.text-darken-2 Automobile Service Application
            .row
                h5.header.col.s12.white-text A modern approach to car troubles!
            .row
                a.btn-large.wavers-effect.waves-light.teal.lighthen-1(href="/login") Get Started!
        .parallax
            img.responsive-img(src="/media/main.jpg")
    main.container
        section.section
            .row
                .col.s12.m4
                    h5.center.brown-text
                        i.material-icons my_location
                    h4.center We can help you everywhere
                    p.light With our application, we can help you, no matter wherever misfortune finds you and your car.
                .col.s12.m4
                    h5.center.brown-text
                        i.material-icons query_builder
                    h4.center Fast fix in no time
                    p.light Get your car trouble diagnosed in the nick of time, without wasting your it and your money.
                .col.s12.m4
                    h5.center.brown-text
                        i.material-icons message
                    h4.center Live chat support
                    p.light No hold, no phone trees and no transfers. Live support in business hours.
    .parallax-container.valign-wrapper.make-flex-center
        .center.main_v2-readable
            h5.header.col.s12.white-text
                i "Old car as a new in no time"
        .parallax
            img.responsive-img(src="/media/main_v2.jpg")
    aside.container
        section.section
            .row
                .col.s12.center
                    h3: i.mdi-content-send.brown-text
                    h4 Contact us
                    p.center-align.light We’re here to help—Online, in person or by phone.



