extends layouts/default

include mixins

block content
    +namedHeader('Home')
    .section.no-pad-bot.index-banner
        .container
            h1.header.center.orange-text Automobile Service Application
            .row.center
                h5.header.col.s12.light A modern approach to car troubles!

            if user
                // Mobile right sidebar
                aside#nav-mobile.side-nav
                    ul
                        li: a(href="#") Vehicles
                        li: a(href="#") History
                        li: a(href="/logout") Logout


            .hide-on-large-only
                if user
                    .row.center
                        +menuitem_mobile("#","Your problems")
                        +menuitem_mobile("#","History")
                        +menuitem_mobile("#","Help")
                    .fixed-action-btn
                        a.btn-floating.btn-large.waves-effect.waves-light.red.right(href='#!')
                            i.material-icons add
                else
                    .row.center
                        +menuitem_mobile("/index", "About")
                        +menuitem_mobile("/login", "Login")
                        +menuitem_mobile("/register", "Register")