extends layouts/default

include mixins

block content
    +namedHeader('Home')
    .mn-content.fixed-sidebar
        .section.no-pad-bot.index-banner
            .container
                h1.header.center.orange-text Automobile Service Application
                .row.center
                    h5.header.col.s12.light A modern approach to car troubles!

                if user && user.isMechanic
                    // Desktop left sidebar
                    aside#slide-out.side-nav.white.fixed
                        ul.sidebar-menu.collapsible(data-collapsible="accordion")
                            +menuitem("Tickets",'/tickets','move_to_inbox')
                            +menuitem("Clients",'/clients','people')
                            +menuitem("Statistics",'/stats','description')
                            +menuitem("Logout",'/logout','exit_to_app')




