extends layout

block content

    include header.pug

    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <h1 class="header center orange-text">Automobile Service Application</h1>
            <div class="row center">
                <h5 class="header col s12 light">A modern approach to car troubles!</h5>
            </div>

            //- only for mobile client version
            div.hide-on-large-only
                if user
                    .row.center
                        a.col.s12.space.btn-large.waves-effect.waves-light.orange(href="#") Your problem's
                        a.col.s12.space.btn-large.waves-effect.waves-light.orange(href="#") History
                        a.col.s12.space.btn-large.waves-effect.waves-light.orange(href="#") Help
                    .fixed-action-btn
                        <a class="btn-floating btn-large waves-effect waves-light red right"><i class="material-icons">add</i></a>
                if !user
                    .row.center
                        a.col.s12.space.btn-large.waves-effect.waves-light.blue(href="login") About
                        a.col.s12.space.btn-large.waves-effect.waves-light.blue(href="login") Login
                        a.col.s12.space.btn-large.waves-effect.waves-light.blue(href="register") Register
        </div>
    </div>

