block footer
    footer.page-footer.cyan.darken-4
        .container
            .row
                .col.l8.m12.s12
                    h5.orange-text E-Servis Bio
                    p.orange-text.text-lighten-3
                        | We are a team of college students working on this project like it's our full time job.
                        br
                        | We are Addicted Penguins!
                .col.l2.m6.s6
                    h5.orange-text Menu
                    ul
                        li: a.orange-text.text-lighten-3(href="/about") About us
                        li: a.orange-text.text-lighten-3(href="/contact") Contact us
                        li: a.orange-text.text-lighten-3(href="/jobs") Jobs
                        li: a.orange-text.text-lighten-3(href="/support") Support
                .col.l2.m6.s6
                    h5.orange-text Connect
                    ul#connect
                        li: a.orange-text.text-lighten-3(href="/contact#facebook")
                            i.mdi.mdi-facebook.mdi-18px
                            = "Facebook"
                        li: a.orange-text.text-lighten-3(href="/contact#google")
                            i.mdi.mdi-google-plus.mdi-18px
                            = "Google +"
                        li: a.orange-text.text-lighten-3(href="/contact#twitter")
                            i.mdi.mdi-twitter.mdi-18px
                            | Twitter
        .footer-copyright
            .container
                p.grey-text.text-lighten-4.center
                    ="Made by Addicted Pinguins for WdTaM with <3"