script(src="https://code.jquery.com/jquery-2.1.4.min.js" type="text/javascript" )
script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js" type="text/javascript")
script(src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.0/js/swiper.js" type='text/javascript')



//- must be last! or santa won't come this year!
script(src='/js/mechanic.js', type='text/javascript')
script(src="/js/main.js" type="text/javascript" )



block foot


