script(src="https://code.jquery.com/jquery-2.1.4.min.js" type="text/javascript" )
script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js" type="text/javascript")
script(src="/js/main.js" type="text/javascript" )
script(src='/js/mechanic.js', type='text/javascript')

block foot


