block header
    header.header
        nav.light-blue
            .nav-wrapper.row
                if (!user)
                    .col.s5.m3
                        span.brand-logo
                            if title
                                = 'eService - ' + title
                            else
                                = 'eService'
                    ul.right.hide-on-med-and-down
                        li: a(href="#") Help
                        li: a(href="/register") Register
                        li: a(href="/login") Login

                    ul#nav-mobile.side-nav
                        li: a(href="#") Help
                        li: a(href="/login") Login
                else
                    if user.isMechanic
                        a.hamburger(href='#')
                            span.material-icons menu
                    a.brand-logo(href='#')
                        if(user.isMechanic)
                            = 'eService Dashboard - '+ title
                        else
                            = 'eService - ' + title
                    if (user.isMechanic)
                        //form.left.search.col.s6.hide-on-small-and-down.input-field
                                input#search(type="search",placeholder="Search",autocomplete="off")
                                label.active(for="search")
                                    i.material-icons.search-icon search

                        ul.right.hide-on-med-and-up
                            li
                                a(href='/logout') Logout

                    if !user.isMechanic
                        ul.right.hide-on-small-and-down
                            li: a(href="/client/vehicles/1") Vehicles
                            li: a(href="#") History
                            li: a(href="/logout") Logout

                //if (user && !user.profile_img)
                    -var letter = user.username.substr(0,1)
                    .col.s9.m6.right
                        img.circle(src='' alt='' data-letters=letter)