block header
    header.mn-header.navbar-fixed
        nav.light-blue
            .nav-wrapper.row
                if (!user)
                    .header-title.col.s5.m3
                        span.chapter-title
                        if title
                            = 'eService - ' + title
                        else
                            = 'eService'
                    ul.right.hide-on-med-and-down
                        li: a(href="#") Help
                        li: a(href="/register") Register
                        li: a(href="/login") Login

                    ul#nav-mobile.side-nav
                        li: a(href="#") Help
                        li: a(href="/login") Login
                else
                    if (user.isMechanic)
                        section.material-design-hamburger.navigation-toggle
                            a.show-on-large.material-design-hamburger__icon.reverse-icon( href="javascript:void(0)" data-activates="slide-out" )

                    .header-title.col.s5.m6
                        span.chapter-title
                            if(user.isMechanic)
                                = 'eService Dashboard - ' + title
                            else
                                = 'eService - ' + title
                    if (user.isMechanic)
                        form.left.search.col.s6.hide-on-small-and-down.input-field
                                input#search(type="search",placeholder="Search",autocomplete="off")
                                label.active(for="search")
                                    i.material-icons.search-icon search

                    if !user.isMechanic
                        ul.right.hide-on-med-and-down
                            li: a(href="/client/vehicles") Vehicles
                            li: a(href="#") History
                            li: a(href="/logout") Logout

                if (user && !user.profile_img)
                    -var letter = user.username.substr(0,1)
                    .right.col.s9.m6.nav-right-menu
                        img.circle(src='' alt='' data-letters=letter)