//
   Created by Ákos on 2016. 11. 28.

doctype html
html(lang="en")
    include ../includes/head.pug
    body
        .messages
            include ../includes/messages.pug
        .content.mn-content.fixed-sidebar
            block content
        include ../includes/footer.pug
        include ../includes/foot.pug





